/*               TABELA              */
.tabela{
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.tabela > img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center center;
}
.tabela .bg-icon {
   position: absolute;
   bottom: 25px;
   right: 25px;
   font-size: 40px;
   cursor: pointer;
}
.tabela .change-bg {
   position: absolute;
   /* max-width: 400px; */
   width: 520px;
   height: calc(100% - 50px);
   right: 0;
   bottom: 0;
   background-color: rgb(255, 255, 255);
   border-radius: 15px;
   z-index: 5;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.change-bg h2 {
   padding: 8px;
   text-indent: 5px;
}
.change-bg .img-list {
   width: 95%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   overflow-y: scroll;
}
.img-list::-webkit-scrollbar-track {
   background: none;
}
.img-list::-webkit-scrollbar-thumb {
   background-color: aquamarine;
}
.img-list .img-container {
   margin: 10px;
   width: 215px;
   height: 121px;
   cursor: pointer;
   border-radius: 10px;
}
.img-list img {
   width: 215px;
   height: 121px;
   object-fit: cover;
   object-position: center center;
   border-radius: 10px;
   transition: all 400ms;
   box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.673);
}
.img-list img:hover {
   box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.512);
   width: 225px;
   height: 126px;
   margin-left: -5px;
   margin-top: -2.5px;
}




/*          Header          */
.tabela header {
   height: 50px;
   justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
   background-color: var(--color-basic-lighter);
   box-shadow: 0px 1px 1px var(--color-basic-light);
}
.tabela header .logo-container .img {
   min-width: 30px;
   min-height: 30px;
   background: url("../../../assets/icons/logo-main-color.png") fixed no-repeat center center;
   background-size: contain;
}
.tabela header h1 {
   font-size: 27px;
   color: var(--color-main);
}
.tabela header a {
   color: var(--color-main-dark);
}
.tabela .menu li {
   font-size: 18px;
   font-weight: bold;
}
.tabela .menu li .bar {
   background-color: var(--color-main-dark);
}
/*          configurações          */
.tabela .menu .settings {
   color: var(--color-main-dark);
}
.tabela .settings .icon .MuiSvgIcon-root{
   font-size: 30px;
   background-color: var(--color-basic-lighter);
}
.tabela .configs {
   top: 50px;
}
.tabela .nome-login {
   color: var(--color-main-dark);
   font-weight: bold;
}



/*          menu - tabela         */
.tabela-menu {
   width: 100%;
   display: flex;
   justify-content: end;
   position: relative;
}
.tabela-menu button {
   position: absolute;
   top: 10px;
   width: 130px;
   height: 17px;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: bold;
   cursor: pointer;
   border-radius: 0px 0px 17px 17px;
   background-color: rgba(229, 237, 237, 0.875);
   box-shadow: inset 0px 3px 10px rgba(115, 139, 139, 0.621);
   color: var(--color-basic-dark);
   backdrop-filter: blur(3px);
   border: none;
   transition: ease all 200ms 70ms;
}
.tabela-menu button:hover {
   height: 30px;
   color: var(--color-main-darker);
   box-shadow: 0px 0px 10px rgba(171, 207, 207, 0.261),
   inset 0px 0px 10px rgba(115, 139, 139, 0.621);
}



/*          tabela          */
.tabela-container {
   width: fit-content;
   padding: 20px 45px;
   position: relative;
   top: 65px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 15px;
   background-color: rgba(238, 243, 243, 0.909);
   backdrop-filter: blur(3px);
   box-shadow: 0px 0px 18px rgba(171, 207, 207, 0.621);
}
tr.linha-container {
   display: flex;
   flex-direction: row;
   justify-content: start;
   color: black;
}
tr.linha-container th,td {
   height: 30px;
   margin: 0;
   list-style: none;
}
td {
   position: relative;
   width: fit-content;
   border-bottom: 1px solid rgba(131, 131, 131, 0.22);
}
td input {
   width: 100%;
   height: 100%;
   padding-left: 8px;
   padding-right: 8px;
   border-top: none;
   border-bottom: none;
   border-left: 1px solid rgba(131, 131, 131, 0.22);
   border-right: 1px solid rgba(131, 131, 131, 0.22);
   background-color: transparent;
   outline: none;
}
td select {
   height: 70%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   border: 1px solid rgba(131, 131, 131, 0.22);
   background-color: transparent;
   border-radius: 5px;
}
td select:focus {
   outline: none;
}
.data {
   width: 130px;
   text-align: center;
   border-left: none;
   border-right: none;
}
.descricao {
   width: 400px;
}
.descricao:focus{
   font-size: 14px;
}
.categoria {
   width: 150px;
   text-align: center;
   border: none;
}
.valor {
   width: 150px;
   border-right: none;
}
.valor:focus{
   color: rgb(73, 73, 73);
   text-align: center;
}
.pos{
   color: green;
   text-align: end;
   padding-right: 30px;
}
.neg{
   color: red;
   text-align: start;
   padding-left: 30px;
}
.status {
   width: 80px;
   text-align: center;
   border-radius: 8px;
}
td select option {
   display: flex;
   justify-content: center;
}
.pago {
   background-color: rgb(145, 219, 190);
}
.a-pagar {
   background-color: rgb(219, 145, 145);
}
   



/*       botão de excluir         */
button.MuiIconButton-root {
   position: relative;
   right: -27px;
   margin-right: -17px;
   opacity: 0;
   transition: ease opacity 100ms;
}
button.MuiIconButton-root:hover {
   background-color: transparent;
}
.linha-container:hover .MuiIconButton-root {
   opacity: 1;
}

button.MuiIconButton-root .delete-outline-icon {
   position: absolute;
   top: 2px;
   right: 7.5px;
   color: rgb(62, 48, 48);
   transition: all 200ms;
}
button.MuiIconButton-root .delete-icon {
   position: absolute;
   top: 2px;
   right: 7.5px;
   opacity: 0;
   color: rgb(42, 42, 42);
   transition: all 200ms;
}
button.MuiIconButton-root:hover .delete-outline-icon {
   opacity: 0;
}
button.MuiIconButton-root:hover .delete-icon {
   opacity: 1;
}




/*          Loading            */
.loading{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 5;
}
.loading img {
   width: 60px;
   animation: spin 1500ms linear infinite;
}
@keyframes spin {
   from {
      transform: rotate(0deg)
   }
   to {
      transform: rotate(360deg)
   }
}