/*
    Main Content Home Page
*/

 @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: var(--font-primary);
    color: var(--color-text);
}


/*  intro section  */
section.intro-section {
    width: 80%;
    height: 400px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
article.login-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-title);
}
article .login-input-container {
    width: 70%;
    min-width: 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
article .login-input-container input {
    width: 80%;
    height: 100%;
    margin: 10px -20% 10px 10px;
    padding: 15px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid var(--color-neutral);
    background-color: rgba(255, 255, 255, 0.024);
    transition: all .5s;
    z-index: 1;
}
article .login-input-container input:hover {
    border: 1px solid var(--color-secondary);
    background-color: rgba(255, 255, 255, 0.199);
}
article .login-input-container input:focus {
    border: 1px solid var(--color-secondary);
    outline: none;
    background-color: rgba(255, 255, 255, 0.34);
}
article .login-input-container input::placeholder {
    color: rgba(0, 0, 0, 0.371); 
}
article .login-input-container .button {
    width: 35%;
    height: 100%;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: white;
    z-index: 1;
}
article .login-input-container button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
article.welcome-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: gray; */
}
article.welcome-container .welcome-text {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-indent: 10px;
    text-align: end;
    border-radius: 10px;
    color: var(--color-text);
    background-color: rgba(250, 255, 255, 0.19);
}
div.intro-background-container {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}
div.intro-background {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/bg.png') no-repeat right top fixed;
    background-size: cover;
    opacity: .3;
    z-index: -1;
}






/*  feature section  */
section.feature-section {
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #5a636a; */
}
article.feature-section-title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    /* background-color: antiquewhite; */
}
h2 {
    font-size: 1.5em;
    color: var(--color-title);
}
article.buttons-wrapper {
    height: 340px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.feature-button {
    width: 250px;
    height: 95%;
    margin: 5px;
    position: relative;
    background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.379), rgba(250, 255, 255, 0.901));
    box-shadow: 0px 0px 5px rgba(105, 129, 141, 0.057);
    border-radius: 10px;
    user-select: none;
    transition: all .5s ease;
}
.feature-button:hover {
    width: 270px;
    transition-delay: .0.5s;
    box-shadow: 0px 0px 10px #69818d21;
}
.feature-button:active {
    box-shadow: 8px 8px 15px #69818d19;
}
.feature-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.feature-button img {
    width: 30%;
}
.feature-button h2 {
    width: 100%;
    text-align: center;
    color: var(--color-title);
}
.feature-button p {
    width: 260px;
    padding: 10px;
    text-align: center;
    color: var(--color-text);
}




/*  section  */
section.mission {
    width: 100%;
    height: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #eff5f7c8;
}
section.mission .text {
    width: 60%;

}
section.mission p {
    text-align: center;
}



