footer {
    width: 100%;
    height: 250px; /* Defina a altura do footer conforme necessário */
    margin-top: 75px;
    background-color: var(--color-primary);
    color: white; /* Cor do texto do footer */
    text-align: center;
    bottom: 0; /* Alinha o footer ao fundo do corpo */
}