@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
    /*  fonts  */
    --font-primary: "Quicksand", sans-serif;
    --font-secondary: "Wix Madefor Text", sans-serif;

    /*  text colors  */
    --color-title:      #132e35;
    --color-text:       #616161;
    --color-text-light: #7b7b7b; 
    --color-text-dark:  #1c1c1c;
   --title-color: #0cb3b8;
   --main-text-color: #000;
   --text-color: #666666;

   /*       COLORS         */
   --background-primary-color: #fff;
   --background-secondary-color: #e1e8eb84;
   --background-tabela: rgba(238, 243, 243, 0.9);

      /*       Main Pallette      */
      --color-main-lighter: #8DF3F7;
      --color-main-light:   #2CEBF2;
      --color-main:         #0cb3b8;
      --color-main-dark:    #098286;
      --color-main-darker:  #054A4C;
      
      /*       Header       */
      --color-header-border: transparent;
      --logo-color: #fff;


   --time-transition: 800ms;



    /*       Basic colors        */
    --color-basic-lighter: #ffffff;
    --color-basic-light: #c3c3c3;
    --color-basic: #8d8d8d;
    --color-basic-dark: #5a5a5a;
    --color-basic-darker: #000000;

    --color-neutral: #ababab;


    /* 
            Possivel paleta nova
    */
    --cor1: #1c1a1c;
    --cor2: #2b2a2b;
    --cor3: #1f1e1f;
    --cor4: #edd120;
    --cor5: #d9d8da;
    --cor6: #f5f5f5;
    
    
    
    
    /*          DARK MODE
        main color header: #1d2125
        darkmode color logo: var(--color-main)
    */

    /*  formatting  */
    --box-shadow: 3px 3px 5px rgba(147, 147, 147, 0.191);
    --border-radius: 5px;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  configurações gerais  */
div#root{
    height: 100%;    
    min-height: 100vh;
}
body{
    background-color: var(--background-primary-color);
    transition: background-color var(--time-transition);
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
}
